.nav-wrapper{
}


.top-nav{
    /* background-color: green; */
    display: flex;
    padding-left: 10.5rem;
    max-height: 67px;
}

.club-sites{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: .8rem;
    color: gray;
}
.club-sites i{
    padding-left: .3rem;
}

.clubs-logo{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    max-width: 1040px;
    padding-left: .5rem;
}



.clubs-logo li{
    padding: 0 .15rem;
}

.clubs-logo img{
    width: 100%;
    max-width: 2rem;
    transition: all .1s ease-in-out;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.clubs-logo img:hover{
    transform: scale(1.25);
}


.main-nav{
    width: 100vw;
    background-color: #37003c;
    color:  white;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.main-nav img{
    width: 5.5rem;
}

.navv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 2rem;
}

.navv ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 60rem; */
    
}

.navv ul li, .navv ul li a{
    padding: 1rem;
    list-style: none;
    font-weight: bolder;
    color: white ;
    text-decoration: none;
}


.navv button {
    padding: .2rem 1rem;
    color: #37003c;
    font-weight: bold;
    font-size: 1.2rem;
}


.prem-nav{
    display: flex;
    color: #333;
    padding-left: 7.5rem;
    background-color: white;
    box-shadow: 0px 4px 2px 0px #e1e1e1;
    color: #555;
}

.prem-nav .nav-bar{
    list-style: none;
    display: flex;
    padding-left: 2.5rem;
}

.prem-nav .nav-bar div{
    padding: 1rem;
    cursor: pointer;
}
.prem-nav .nav-bar div:hover{
    border-bottom: .3rem solid #3ab6b0;
}